@media (max-width: 499px) {
  .card {
    max-width: 36%;
  }
}

@media (min-width: 500px) {
  .card {
    max-width: 200px;
  }
}

.card {
  padding: 10px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #808080;
}

.card img {
  width: 100%;
}

.card h2 {
  text-align: center;
  max-width: 100%;
}
